.cart-item {
  border: solid rgb(151, 151, 151) 2px;
  margin: 4px;
  background: rgba(255, 255, 255, .3);
  padding: 8px;

  > .cart-item-thumbnail {
    width: 200px;
    height: 150px;
    text-align: center;


    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
