{{page-title "Item"}}

<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image />
    <Product::Details />
  </div>
  <h5 class="mt-5">Features</h5>
  <ul>
    <li>Le corps principal est en laiton, avec une technologie de gravure, et les
    motifs de gravure rendent le saxophone plus spécial et délicat</li>
    <li>bE alto saxphone avec 802 type de clé, un son incroyable. Or corps laqué,
    exécution exquise et la rouille de protection</li>
    <li>La position précise du trou sonore permet au joueur de jouer plus facilement,
    de sorte que les doigts du joueur puissent jouer confortablement</li>
    <li>Le coussin en cuir de haute qualité et le tampon en cuir souple assurent
    l'étanchéité à l'air, vous permettant de jouer du saxophone facilement et en
    douceur</li>
    <li>Brosse de nettoyage, tissu, gants, graisse à liège, sangle et étui rembourré
    nettoyage sont inclus pour mieux répondre à vos besoins</li>
  </ul>
</GeneralContainer>
